In [1]:
#Import panda and Numpy Packages
import numpy as np
import pandas as pd

In [2]:
#Ex-1: print Panda version
print(pd.__version__)

1.1.3

In [3]:
#Ex-2: Create series object and print
stocks = ['PLW', 'CDR', '11B', 'TEN']
print(pd.Series(data=stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

In [4]:
#Ex-3: Create series object and assign it to quotation object
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotation = pd.Series(data=stocks)
print(quotation)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [5]:
#Ex-4: Convert quoations to list
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
quotations = quotations.tolist()
print(quotations)

[387.0, 339.5, 349.5, 391.0]

In [6]:
#Ex-5: Convert quotations to dataframe and set the column name to price
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
quotations = pd.DataFrame(quotations, columns=["price"])
print(quotations)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [7]:
#Ex-6: Using Numpy and pandas Create series:
data1 = np.arange(10,100,10)
data2 = np.arange(101,110,1)
print(data1)
print(data2)
print()
res = pd.Series(data = data1, index=data2, dtype='float')
print(res)

[10 20 30 40 50 60 70 80 90]
[101 102 103 104 105 106 107 108 109]

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [8]:
#Ex-7: convert type to int
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series = series.astype(int)
print(series)

a    1
b    2
c    3
d    4
dtype: int32

In [9]:
#Ex-7: convert type to int
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series = pd.to_numeric(series)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
#Ex-8: Add 2 elements to this series {'BBT': 25.5, 'F51': 19.2}
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [11]:
#Ex-9: Reset index and name columns 'ticker' and 'price'
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0, 'BBT': 25.5, 'F51': 19.2}
quotations = pd.Series(data=stocks)
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['ticker', 'price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

In [12]:
#Ex-10: Create following data object and assign it to company variable
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}
 
companies = pd.DataFrame(data=data_dict)
print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In [13]:
#Ex-11: Convert first column of above dataset to index
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}
 
companies = pd.DataFrame(data=data_dict)
companies = companies.set_index('company')
print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

In [14]:
#EX-12(A): Create Datetimeindex object containing the yyyy-mm-dd format for all days from Jan-2020 and assign it to date_range variable
date_range = pd.date_range(start='2020-01-01', periods=31)
print(date_range)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [16]:
#EX-12(B): Create Datetimeindex object containing the yyyy-mm-dd format for all days from Jan-2020 and assign it to date_range variable
date_range = pd.date_range(start='2020-01-01', end='2020-01-31')
print(date_range)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [17]:
#EX-13(A): Create Datetimeindex object containing the yyyy-mm-dd format for all Mondays from Jan-2020 and assign it to date_range variable
date_range = pd.date_range(start='2020-01-01', periods=52, freq='W-MON')
print(date_range)

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [20]:
#EX-13(B): Create Datetimeindex object containing the yyyy-mm-dd format for all Mondays from Jan-2020 and assign it to date_range variable
date_range = pd.date_range(start='2020-01-01', end='2020-12-31', freq='W-MON')
print(date_range)

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [21]:
#EX-14(A): Create Datetimeindex object containing the yyyy-mm-dd hh:mm:ss format for all Mondays from Jan-2020-01 with a time interval of 1h and assign it to date_range variable
date_range = pd.date_range(start='2021-01-01', periods=24, freq='H')
print(date_range)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [22]:
#EX-14(B): Create Datetimeindex object containing the yyyy-mm-dd hh:mm:ss format for all Mondays from Jan-2020-01 with a time interval of 1h and assign it to date_range variable
date_range = pd.date_range(start='2021-01-01', end='2021-01-02', freq='H')
print(date_range)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00',
               '2021-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [23]:
#EX-15: Create following dataframe object and print
date_range = pd.date_range(start='2021-03-01', periods=31)
df = pd.DataFrame(data=date_range, columns=['day'])
df['day_of_year'] = df['day'].dt.dayofyear
print(df)

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90

In [24]:
#EX-16: Create Dateframe Oject from given dictionary and assign it to df variable.As an index add date from 2020-01-01
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
print(df)

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

In [25]:
#EX-17: Print first 10 rows of this Dataframe then print blank line and print the last five rows of this object
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
print(df.head(10))
print()
print(df.tail())

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0

              normal   uniform  binomial
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

In [26]:
#EX-18: Display basic information about df object using method, print blank line and print basic statistics of df method.
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
print(df.info())
print()
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-01-01 to 2022-09-26
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int32
dtypes: float64(2), int32(1)
memory usage: 27.3 KB
None

            normal      uniform    binomial
count  1000.000000  1000.000000  1000.00000
mean      0.019332     0.503649     0.19200
std       0.979216     0.288357     0.39407
min      -3.241267     0.003218     0.00000
25%      -0.647590     0.247199     0.00000
50%       0.025301     0.516126     0.00000
75%       0.647944     0.746319     0.00000
max       3.852731     0.999414     1.00000

In [27]:
#EX-19: Find the distribution of binomial column from this Dataframe
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
print(df['binomial'].value_counts())

0    808
1    192
Name: binomial, dtype: int64

In [33]:
#EX-20: Extract first 50 rows from the df object
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
print(df[:50])
df.head(50).to_csv('dataframe50.csv', sep=',')

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0
2020-01-11 -0.463418  0.714087         0
2020-01-12 -0.465730  0.801728         0
2020-01-13  0.241962  0.339450         0
2020-01-14 -1.913280  0.814825         0
2020-01-15 -1.724918  0.080115         0
2020-01-16 -0.562288  0.894817         1
2020-01-17 -1.012831  0.547592         0
2020-01-18  0.314247  0.817298         0
2020-01-19 -0.908024  0.452318         1
2020-01-20 -1.412304  0.643578         0
2020-01-21  1.465649  0.526403         0
2020-01-22 -0.225776  0.731590         0
2020-01-23  0.067528  0.081630         0
2020-01-24 -1.424748  0.060352         0
2020-01-25 -0.544383  0.247103         1
2020-01-26  0.110923  0.159545         0
2020-01-27 -1.150994  0.871784         0
2020-01-28  0.375698  0.219214         0
2020-01-29 -0.600639  0.975865         1
2020-01-30 -0.291694  0.336896         1
2020-01-31 -0.601707  0.182118         1
2020-02-01  1.852278  0.789699         0
2020-02-02 -0.013497  0.658708         0
2020-02-03 -1.057711  0.498196         0
2020-02-04  0.822545  0.555364         0
2020-02-05 -1.220844  0.719202         0
2020-02-06  0.208864  0.228455         0
2020-02-07 -1.959670  0.996334         0
2020-02-08 -1.328186  0.974793         0
2020-02-09  0.196861  0.650326         0
2020-02-10  0.738467  0.199542         0
2020-02-11  0.171368  0.680228         0
2020-02-12 -0.115648  0.072198         0
2020-02-13 -0.301104  0.030653         0
2020-02-14 -1.478522  0.257683         0
2020-02-15 -0.719844  0.462623         0
2020-02-16 -0.460639  0.868273         0
2020-02-17  1.057122  0.727169         0
2020-02-18  0.343618  0.742707         1
2020-02-19 -1.763040  0.425493         0

In [37]:
#EX-21: Load data from file dataframe50.csv
df_new = pd.read_csv('dataframe50.csv', index_col=0)
print(df_new[:10])

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0

In [36]:
#EX-22:  Load data from file google.csv
google = pd.read_csv('google.csv')
print(google.head(10))

         Date     Open     High        Low    Close   Volume
0  2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
1  2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2  2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
3  2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
4  2020-06-26  1432.63  1437.02  1355.0000  1362.54  4882014
5  2020-06-25  1431.22  1442.32  1419.5401  1441.10  1197907
6  2020-06-24  1463.28  1475.79  1430.0000  1432.70  1579579
7  2020-06-23  1452.00  1475.20  1445.0000  1463.98  1887583
8  2020-06-22  1425.01  1450.95  1419.1900  1450.66  1472072
9  2020-06-19  1440.00  1444.50  1419.0000  1424.64  2639167

In [38]:
#EX-23: Print basic information about google DataFrame, then print blank and print basic statistics from Dataframe
google = pd.read_csv('google.csv')
print(google.info())
print()
print(google.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    30 non-null     object
 1   Open    30 non-null     float64
 2   High    30 non-null     float64
 3   Low     30 non-null     float64
 4   Close   30 non-null     float64
 5   Volume  30 non-null     int64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.5+ KB
None

              Open         High          Low        Close        Volume
count    30.000000    30.000000    30.000000    30.000000  3.000000e+01
mean   1428.889000  1445.470440  1412.767923  1430.681000  1.869471e+06
std      22.943586    19.462454    24.728358    22.717075  7.014872e+05
min    1360.340000  1398.000000  1351.650000  1362.540000  1.172069e+06
25%    1419.377500  1436.802500  1396.565000  1418.097500  1.528364e+06
50%    1431.925000  1444.805000  1419.095000  1433.820000  1.687518e+06
75%    1444.605000  1452.628250  1428.301250  1445.430000  2.085423e+06
max    1463.280000  1488.520000  1454.355000  1469.930000  4.882014e+06

In [39]:
#Ex-24: Convert index to the column Date assign changes to the google variable
google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()
print(google)

          Date     Open       High        Low    Close   Volume
0   2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
1   2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
2   2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
3   2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
4   2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
5   2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
6   2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
7   2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
8   2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
9   2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
10  2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
11  2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
12  2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
13  2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
14  2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756
15  2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243
16  2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116
17  2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155
18  2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881
19  2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350
20  2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105
21  2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640
22  2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069
23  2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254
24  2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
25  2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
26  2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
27  2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
28  2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
29  2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976

In [41]:
#EX-25: Assign 2 new columns A)Column with current month number named 'Month' B)Column with current year number named 'Year'
google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
print(google.head(5))

        Date     Open     High        Low    Close   Volume  Year  Month
0 2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915  2020      7
1 2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124  2020      7
2 2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320  2020      6
3 2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678  2020      6
4 2020-06-26  1432.63  1437.02  1355.0000  1362.54  4882014  2020      6

In [42]:
#EX-26: Compute the average closing price for the month (group data by month-the month column and then count the average value)
google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
print(google.groupby('Month')['Close'].mean())

Month
5    1418.900000
6    1431.595455
7    1455.965000
Name: Close, dtype: float64

In [43]:
#EX-27: Find the index for which the close price has the lowest value and assign it to idx_min variable.Then extract the row for this index from the google DataFrame
google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()
idx_min = google['Close'].argmin()

print(google.iloc[[idx_min]])

         Date     Open     High     Low    Close   Volume
4  2020-06-26  1432.63  1437.02  1355.0  1362.54  4882014

In [45]:
#EX-28: Extract the columns from google.csv (Date, Open, Close, Volume) 

google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()
print(google[['Date', 'Open', 'Close', 'Volume']].head(5))

         Date     Open    Close   Volume
0  2020-07-02  1451.84  1469.93  2860915
1  2020-07-01  1419.17  1442.00  2109124
2  2020-06-30  1396.88  1418.05  2014320
3  2020-06-29  1360.34  1397.17  2253678
4  2020-06-26  1432.63  1362.54  4882014

In [46]:
#EX-29: Load data from google.csv. Set the index for the Date column and print this Dataframe
google = pd.read_csv('google.csv')
google = google.set_index('Date')
print(google.head(5))

               Open     High        Low    Close   Volume
Date
2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
2020-06-26  1432.63  1437.02  1355.0000  1362.54  4882014

In [49]:
#Ex-30: Remove the Year and Month column from google Dataframe
google = pd.read_csv('google.csv')
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
google = google.drop(columns=['Year', 'Month'])
print(google.head(5))

        Date     Open     High        Low    Close   Volume
0 2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
1 2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2 2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
3 2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
4 2020-06-26  1432.63  1437.02  1355.0000  1362.54  4882014

In [51]:
#Ex-31: Change the column name (Open-> O, High-H, Low-L,Close->C, Volume->V )
google = pd.read_csv('google.csv', index_col=0)
google.columns = ['O', 'H', 'L', 'C', 'V']
print(google.head(5))

                  O        H          L        C        V
Date
2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
2020-06-26  1432.63  1437.02  1355.0000  1362.54  4882014

In [56]:
#EX-32: Load this file into dataframes and assign it to df variable
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url)
print(df.head(2))

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No

      PaymentMethod MonthlyCharges  TotalCharges Churn
0  Electronic check          29.85         29.85    No
1      Mailed check          56.95        1889.5    No

[2 rows x 21 columns]

In [58]:
#EX-33: Calculate the number of missing value for each variable
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url)
missing_val = df.isnull().sum()
print(missing_val)

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [59]:
#EX-34: Try to replace missing value of TotalCharges column with its mean value
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url)
TotalChargesMedian = df['TotalCharges'][df['TotalCharges'] != ' '].median() #Calculate the median of TotalCharges column
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = TotalChargesMedian #Fill the missing values with median
df['TotalCharges'] = df['TotalCharges'].astype('float') #Convert TotalCharges column to float type
print(df['TotalCharges'].value_counts())

1397.475    11
20.200      11
19.750       9
19.650       8
20.050       8
            ..
607.300      1
1534.050     1
1066.150     1
249.950      1
1024.000     1
Name: TotalCharges, Length: 6531, dtype: int64

In [62]:
#EX-35 :Convert Categorical column to category type and numerical column to float type
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 
               'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
               'StreamingTV', 'Contract', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Churn'] 

numerical = ['tenure', 'MonthlyCharges']

for col in categorical:
    df[col] = pd.Categorical(df[col]) 
 
for col in numerical:
    df[col] = df[col].astype(float)
 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   category
 1   SeniorCitizen     7043 non-null   category
 2   Partner           7043 non-null   category
 3   Dependents        7043 non-null   category
 4   tenure            7043 non-null   float64
 5   PhoneService      7043 non-null   category
 6   MultipleLines     7043 non-null   category
 7   InternetService   7043 non-null   category
 8   OnlineSecurity    7043 non-null   category
 9   OnlineBackup      7043 non-null   category
 10  DeviceProtection  7043 non-null   category
 11  TechSupport       7043 non-null   category
 12  StreamingTV       7043 non-null   category
 13  StreamingMovies   7043 non-null   category
 14  Contract          7043 non-null   category
 15  PaperlessBilling  7043 non-null   category
 16  PaymentMethod     7043 non-null   category
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   category
dtypes: category(17), float64(2), object(1)
memory usage: 338.8+ KB

In [64]:
#EX-36: Print the basic statistics of categorical variable by using appropriate argument.

url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
TotalChargesMedian = df['TotalCharges'][df['TotalCharges'] != ' '].median()
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = TotalChargesMedian
df['TotalCharges'] = df['TotalCharges'].astype('float')
 
categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 
               'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
               'StreamingTV', 'Contract', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Churn'] 
 
numerical = ['tenure', 'MonthlyCharges']
 
for col in categorical:
    df[col] = pd.Categorical(df[col]) 
 
for col in numerical:
    df[col] = df[col].astype(float)
 
print(df.describe(include=['category']))

       gender  SeniorCitizen Partner Dependents PhoneService MultipleLines  \
count    7043           7043    7043       7043         7043          7043
unique      2              2       2          2            2             3
top      Male              0      No         No          Yes            No
freq     3555           5901    3641       4933         6361          3390

       InternetService OnlineSecurity OnlineBackup DeviceProtection  \
count             7043           7043         7043             7043
unique               3              3            3                3
top        Fiber optic             No           No               No
freq              3096           3498         3088             3095

       TechSupport StreamingTV StreamingMovies        Contract  \
count         7043        7043            7043            7043
unique           3           3               3               3
top             No          No              No  Month-to-month
freq          3473        2810            2785            3875

       PaperlessBilling     PaymentMethod Churn
count              7043              7043  7043
unique                2                 4     2
top                 Yes  Electronic check    No
freq               4171              2365  5174

In [65]:
#EX-37: Find the distribution of the churn variable
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
print(df['Churn'].value_counts())

No     5174
Yes    1869
Name: Churn, dtype: int64

In [66]:
#EX-38: Group this by 'Churn' and 'PaymentMethod' column and calculate the average value of 'MonthlyCharges' column.
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
print(df.groupby(['Churn', 'PaymentMethod'])['MonthlyCharges'].mean())

Churn  PaymentMethod
No     Bank transfer (automatic)    65.049417
       Credit card (automatic)      64.562209
       Electronic check             74.232032
       Mailed check                 41.403911
Yes    Bank transfer (automatic)    77.875581
       Credit card (automatic)      77.356034
       Electronic check             78.700980
       Mailed check                 54.557143
Name: MonthlyCharges, dtype: float64

In [69]:
#EX-39: Map the Churn column as 'Yes -> 1' and 'No -> 0'
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})
print(df.head(4))

            gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
customerID
7590-VHVEG  Female              0     Yes         No       1           No
5575-GNVDE    Male              0      No         No      34          Yes
3668-QPYBK    Male              0      No         No       2          Yes
7795-CFOCW    Male              0      No         No      45           No

               MultipleLines InternetService OnlineSecurity OnlineBackup  \
customerID
7590-VHVEG  No phone service             DSL             No          Yes
5575-GNVDE                No             DSL            Yes           No
3668-QPYBK                No             DSL            Yes          Yes
7795-CFOCW  No phone service             DSL            Yes           No

           DeviceProtection TechSupport StreamingTV StreamingMovies  \
customerID
7590-VHVEG               No          No          No              No
5575-GNVDE              Yes          No          No              No
3668-QPYBK               No          No          No              No
7795-CFOCW              Yes         Yes          No              No

                  Contract PaperlessBilling              PaymentMethod  \
customerID
7590-VHVEG  Month-to-month              Yes           Electronic check
5575-GNVDE        One year               No               Mailed check
3668-QPYBK  Month-to-month              Yes               Mailed check
7795-CFOCW        One year               No  Bank transfer (automatic)

            MonthlyCharges TotalCharges  Churn
customerID
7590-VHVEG           29.85        29.85      0
5575-GNVDE           56.95       1889.5      0
3668-QPYBK           53.85       108.15      1
7795-CFOCW           42.30      1840.75      0

In [70]:
#EX-40: Calculate the correlation matrix of Dataframe.
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
print(df.corr())

                SeniorCitizen    tenure  MonthlyCharges
SeniorCitizen        1.000000  0.016567        0.220173
tenure               0.016567  1.000000        0.247900
MonthlyCharges       0.220173  0.247900        1.000000

In [72]:
#EX-41: Take Sample of 10 rows and save it to sample_10.csv
np.random.seed(42)

url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
df.sample(10).to_csv('sample_10.csv')

In [76]:
#EX-42: s1 = pd.Series(np.random.rand(20)) s2 = pd.Series(np.random.randn(20)) Combine this 2 series into 1 dataframe and assign it to df
#Set the column names 'col1' & 'col2'
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df.head())

       col1      col2
0  0.169759 -0.414616
1  0.095641  0.944006
2  0.419136 -0.462353
3  0.113300  0.411448
4  0.171913 -1.371367

In [77]:
#EX-43: Extract rows for col2 which contains 0.0 and 1.0
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df[df['col2'].between(0.0, 1.0)])

        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545

In [78]:
#EX-44: Assign a new column name 'col3' which will store 1 when the value of col2 is non-negative and -1 opposite
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
df['col3'] = df['col2'].map(lambda x: 1 if x >= 0 else -1)
print(df)

        col1      col2  col3
0   0.374540 -1.012831    -1
1   0.950714  0.314247     1
2   0.731994 -0.908024    -1
3   0.598658 -1.412304    -1
4   0.156019  1.465649     1
5   0.155995 -0.225776    -1
6   0.058084  0.067528     1
7   0.866176 -1.424748    -1
8   0.601115 -0.544383    -1
9   0.708073  0.110923     1
10  0.020584 -1.150994    -1
11  0.969910  0.375698     1
12  0.832443 -0.600639    -1
13  0.212339 -0.291694    -1
14  0.181825 -0.601707    -1
15  0.183405  1.852278     1
16  0.304242 -0.013497    -1
17  0.524756 -1.057711    -1
18  0.431945  0.822545     1
19  0.291229 -1.220844    -1

In [79]:
#EX-45: Assign a new column 'col4' which will truncate the values from col2 to the range [-1.0,1.0]
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
df['col3'] = df['col2'].map(lambda x: 1 if x >= 0 else -1)
df['col4'] = df['col2'].clip(-1.0, 1.0)
print(df)

        col1      col2  col3      col4
0   0.374540 -1.012831    -1 -1.000000
1   0.950714  0.314247     1  0.314247
2   0.731994 -0.908024    -1 -0.908024
3   0.598658 -1.412304    -1 -1.000000
4   0.156019  1.465649     1  1.000000
5   0.155995 -0.225776    -1 -0.225776
6   0.058084  0.067528     1  0.067528
7   0.866176 -1.424748    -1 -1.000000
8   0.601115 -0.544383    -1 -0.544383
9   0.708073  0.110923     1  0.110923
10  0.020584 -1.150994    -1 -1.000000
11  0.969910  0.375698     1  0.375698
12  0.832443 -0.600639    -1 -0.600639
13  0.212339 -0.291694    -1 -0.291694
14  0.181825 -0.601707    -1 -0.601707
15  0.183405  1.852278     1  1.000000
16  0.304242 -0.013497    -1 -0.013497
17  0.524756 -1.057711    -1 -1.000000
18  0.431945  0.822545     1  0.822545
19  0.291229 -1.220844    -1 -1.000000

In [80]:
#EX-46: Print the 5 largest value for col2, print blank and print the 5 lowest value for col2
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df['col2'].nlargest(5))
print()
print(df['col2'].nsmallest(5))

15    1.852278
4     1.465649
18    0.822545
11    0.375698
1     0.314247
Name: col2, dtype: float64

7    -1.424748
3    -1.412304
19   -1.220844
10   -1.150994
17   -1.057711
Name: col2, dtype: float64

In [81]:
#EX-47: Calculate cumulative sum for each column and print result
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df.cumsum())

        col1      col2
0   0.374540 -1.012831
1   1.325254 -0.698584
2   2.057248 -1.606608
3   2.655907 -3.018912
4   2.811925 -1.553263
5   2.967920 -1.779039
6   3.026004 -1.711511
7   3.892180 -3.136259
8   4.493295 -3.680642
9   5.201367 -3.569719
10  5.221952 -4.720713
11  6.191862 -4.345015
12  7.024304 -4.945653
13  7.236643 -5.237347
14  7.418468 -5.839054
15  7.601873 -3.986776
16  7.906115 -4.000273
17  8.430872 -5.057984
18  8.862817 -4.235439
19  9.154046 -5.456283

In [83]:
#EX-48(A): Calculate median for the col2 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df['col2'].median())

-0.4180382371592297

In [84]:
#EX-48(B): Calculate median for the col2 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df['col2'].quantile())

-0.4180382371592297

In [85]:
#EX-49: Extract rows for which col2 takes value greater than 0.0
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df.query("col2 > 0"))

        col1      col2
1   0.950714  0.314247
4   0.156019  1.465649
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
15  0.183405  1.852278
18  0.431945  0.822545

In [86]:
#EX-50(A): Extract the first 5 rows of df and convert it into dictionary
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df.head().to_dict())

{'col1': {0: 0.3745401188473625, 1: 0.9507143064099162, 2: 0.7319939418114051, 3: 0.5986584841970366, 4: 0.15601864044243652}, 'col2': {0: -1.0128311203344238, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.4123037013352915, 4: 1.465648768921554}}

In [87]:
#EX-50(A): Extract the first 5 rows of df and convert it into dictionary
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df[:5].to_dict())

{'col1': {0: 0.3745401188473625, 1: 0.9507143064099162, 2: 0.7319939418114051, 3: 0.5986584841970366, 4: 0.15601864044243652}, 'col2': {0: -1.0128311203344238, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.4123037013352915, 4: 1.465648768921554}}

In [88]:
#EX-51(A): Extract first 5 rows and convert it to HTML, assign it to df_html variable
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df.head().to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
    </tr>
  </tbody>
</table>

In [89]:
#EX-51(A): Extract first 5 rows and convert it to HTML, assign it to df_html variable
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df[:5].to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
    </tr>
  </tbody>
</table>

In [90]:
#EX-52: Extract rows of dataframe for which C column is greater than 0.8

np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
print(df.loc[df['C'] > 0.8])

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397

In [96]:
#EX-53: Extract rows of dataframe for which C column is greater than 0.3 and D column is less than 0.7
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
print( df.loc[ (df['C'] > 0.3) & (df['D'] < 0.7)])

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
4  0.304242  0.524756  0.431945  0.291229
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

In [98]:
#EX-54: Iterate first 5 row of this object
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
for index, row in df.head().iterrows():
    print(row)

A    0.374540
B    0.950714
C    0.731994
D    0.598658
Name: 0, dtype: float64
A    0.156019
B    0.155995
C    0.058084
D    0.866176
Name: 1, dtype: float64
A    0.601115
B    0.708073
C    0.020584
D    0.969910
Name: 2, dtype: float64
A    0.832443
B    0.212339
C    0.181825
D    0.183405
Name: 3, dtype: float64
A    0.304242
B    0.524756
C    0.431945
D    0.291229
Name: 4, dtype: float64

In [99]:
#EX-55: set the value in row with index 3 for column B as np.nan and also set the value in a row at index 8 for column D
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443       NaN  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632       NaN
9  0.304614  0.097672  0.684233  0.440152

In [100]:
#EX-56:Remove all rows which contain missing values and assign it to df1 variable

np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
df1 = df.dropna()
print(df1)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

In [102]:
#EX-57: Reset the index of above dataframe
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
df1 = df.dropna()
print(df1.reset_index(drop=True))

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.304242  0.524756  0.431945  0.291229
4  0.611853  0.139494  0.292145  0.366362
5  0.456070  0.785176  0.199674  0.514234
6  0.592415  0.046450  0.607545  0.170524
7  0.304614  0.097672  0.684233  0.440152

In [103]:
#EX-58: Calculate the number of missing values for each column
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
print(df.isnull().sum())

A    0
B    1
C    0
D    1
dtype: int64

In [104]:
#EX-59: fill the missing value with 0 and assign it to variable df
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
df = df.fillna(0)
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.000000  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.000000
9  0.304614  0.097672  0.684233  0.440152

In [105]:
#EX-60: Replace the order of the column as D,A,B,C

np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df = df[['D', 'A', 'B', 'C']]
print(df)

          D         A         B         C
0  0.598658  0.374540  0.950714  0.731994
1  0.866176  0.156019  0.155995  0.058084
2  0.969910  0.601115  0.708073  0.020584
3  0.183405  0.832443  0.212339  0.181825
4  0.291229  0.304242  0.524756  0.431945
5  0.366362  0.611853  0.139494  0.292145
6  0.514234  0.456070  0.785176  0.199674
7  0.170524  0.592415  0.046450  0.607545
8  0.808397  0.065052  0.948886  0.965632
9  0.440152  0.304614  0.097672  0.684233

In [106]:
#EX-61: Remove the D column from the Dataframe
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df = df.drop('D', axis=1)
print(df)

          A         B         C
0  0.374540  0.950714  0.731994
1  0.156019  0.155995  0.058084
2  0.601115  0.708073  0.020584
3  0.832443  0.212339  0.181825
4  0.304242  0.524756  0.431945
5  0.611853  0.139494  0.292145
6  0.456070  0.785176  0.199674
7  0.592415  0.046450  0.607545
8  0.065052  0.948886  0.965632
9  0.304614  0.097672  0.684233

In [108]:
#EX-62: Use pandas to load following CSV and set index to the first column
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
print(df.head())

                               Name    Location  Year  Kilometers_Driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   New_Price  Price
0        NaN   1.75
1        NaN  12.50
2  8.61 Lakh   4.50
3        NaN   6.00
4        NaN  17.74

In [109]:
#EX-63: Extract list with column names
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
print(list(df.columns))

['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

In [110]:
#EX-64: Remove column New_Price and print first 5 rows
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.drop('New_Price', axis=1, inplace=True)
print(df.head())

                               Name    Location  Year  Kilometers_Driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   Price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74

In [112]:
#EX-65: Find the number of missing values for each column without New_Price column
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.drop('New_Price', axis=1, inplace=True)
print(df.isnull().sum())

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

In [113]:
#EX-66: Removes all the rows with missing values and 
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 823 entries, 2 to 6014
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               823 non-null    object
 1   Location           823 non-null    object
 2   Year               823 non-null    int64
 3   Kilometers_Driven  823 non-null    int64
 4   Fuel_Type          823 non-null    object
 5   Transmission       823 non-null    object
 6   Owner_Type         823 non-null    object
 7   Mileage            823 non-null    object
 8   Engine             823 non-null    object
 9   Power              823 non-null    object
 10  Seats              823 non-null    float64
 11  New_Price          823 non-null    object
 12  Price              823 non-null    float64
dtypes: float64(2), int64(2), object(9)
memory usage: 90.0+ KB

In [114]:
#EX-67:Replace all letters in column name with lowercase e.g Name ->name

url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
print(df.head())

                               name    location  year  kilometers_driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  fuel_type transmission owner_type     mileage   engine      power  seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   new_price  price
0        NaN   1.75
1        NaN  12.50
2  8.61 Lakh   4.50
3        NaN   6.00
4        NaN  17.74

In [115]:
#EX-68:Find the distribution of the owner_type column

url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
print(df['owner_type'].value_counts())

First             4929
Second             968
Third              113
Fourth & Above       9
Name: owner_type, dtype: int64

In [116]:
#EX-69: Remove last 3 characters from each element from engine column and convert this column into int type
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
df.dropna(inplace=True)
df['engine'] = df['engine'].map(lambda x: int(x[:-3]))
print(df[['name', 'engine']].head())

                                 name  engine
2                        Honda Jazz V    1199
7   Toyota Innova Crysta 2.8 GX AT 8S    2755
10                   Maruti Ciaz Zeta    1462
15        Mitsubishi Pajero Sport 4X4    2477
20                  BMW 3 Series 320d    1995

In [117]:
#EX-70: Replace the null value of column null bhp with np.nan 
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
df['power'] = np.where(df['power'] == 'null bhp', np.nan, df['power'])
print(df['power'].value_counts()[:5])

74 bhp      235
98.6 bhp    131
73.9 bhp    125
140 bhp     123
78.9 bhp    111
Name: power, dtype: int64

In [118]:
#EX-71: Group this dataframe by year and count the number of rows for each year
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
print(df.groupby('year').size())

year
1998      4
1999      2
2000      4
2001      8
2002     15
2003     17
2004     31
2005     57
2006     78
2007    125
2008    174
2009    198
2010    342
2011    466
2012    580
2013    649
2014    797
2015    744
2016    741
2017    587
2018    298
2019    102
dtype: int64

In [119]:
#EX-72: Check the distribution of transmission column and perform mapping : 'Manual' -> 0 and 'Automatic' -> 1

url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
df['transmission'] = df['transmission'].map({'Manual': 0, 'Automatic': 1})
print(df['transmission'].head())

0    0
1    0
2    0
3    0
4    1
Name: transmission, dtype: int64

In [120]:
#EX-73: Save object to cars.csv file(do not save index)
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
df.to_csv('cars.csv', index=False)

In [123]:
#EX-74:Load Below file and save it to df variable
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url, index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17414 entries, 2015-01-04 00:00:00 to 2017-01-03 23:00:00
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cnt           17414 non-null  int64
 1   t1            17414 non-null  float64
 2   t2            17414 non-null  float64
 3   hum           17414 non-null  float64
 4   wind_speed    17414 non-null  float64
 5   weather_code  17414 non-null  float64
 6   is_holiday    17414 non-null  float64
 7   is_weekend    17414 non-null  float64
 8   season        17414 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.3+ MB

In [124]:
#EX-75: Print the first and last five rows of this dataframe
pd.set_option('max_columns', 9)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url, index_col=0)
print(df.head())
print(df.tail())

                     cnt   t1   t2    hum  wind_speed  weather_code  is_holiday  is_weekend  season
timestamp
2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0         0.0         1.0     3.0
2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0         0.0         1.0     3.0
2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0         0.0         1.0     3.0
2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0         0.0         1.0     3.0
2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0         0.0         1.0     3.0
                      cnt   t1   t2   hum  wind_speed  weather_code  is_holiday  is_weekend  season
timestamp
2017-01-03 19:00:00  1042  5.0  1.0  81.0        19.0           3.0         0.0         0.0     3.0
2017-01-03 20:00:00   541  5.0  1.0  81.0        21.0           4.0         0.0         0.0     3.0
2017-01-03 21:00:00   337  5.5  1.5  78.5        24.0           4.0         0.0         0.0     3.0
2017-01-03 22:00:00   224  5.5  1.5  76.0        23.0           4.0         0.0         0.0     3.0
2017-01-03 23:00:00   139  5.0  1.0  76.0        22.0           2.0         0.0         0.0     3.0

In [125]:
#EX-76: change timestamp column to datetime type
pd.set_option('max_columns', 9)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  datetime64[ns]
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 1.3 MB

In [126]:
#EX-77: Extract time in hours from timestamp column and assign it to new column 'hour'
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['hour'] = df['timestamp'].dt.hour
print(df.head())

            timestamp  cnt   t1   t2    hum  wind_speed  weather_code  is_holiday  is_weekend  season  hour
0 2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0         0.0         1.0     3.0     0
1 2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0         0.0         1.0     3.0     1
2 2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0         0.0         1.0     3.0     2
3 2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0         0.0         1.0     3.0     3
4 2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0         0.0         1.0     3.0     4

In [127]:
#EX-78: Extract month from timestamp column and assign it to new column 'month'
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['month'] = df['timestamp'].dt.month
print(df.head())

            timestamp  cnt   t1   t2    hum  wind_speed  weather_code  is_holiday  is_weekend  season  month
0 2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0         0.0         1.0     3.0      1
1 2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0         0.0         1.0     3.0      1
2 2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0         0.0         1.0     3.0      1
3 2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0         0.0         1.0     3.0      1
4 2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0         0.0         1.0     3.0      1

In [128]:
#EX-79: Group by month and calculate average value for the hum column. Assign the result to humidity_by_month

pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['month'] = df['timestamp'].dt.month
humidity_by_month = df.groupby('month')['hum'].mean().reset_index()
print(humidity_by_month)

    month        hum
0       1  77.543376
1       2  74.905813
2       3  71.903781
3       4  67.532337
4       5  66.367272
5       6  68.945148
6       7  64.383525
7       8  67.289420
8       9  71.753228
9      10  77.639621
10     11  78.732517
11     12  81.032345

In [129]:
#EX-80: Group by month and calculate average value for the cnt column. Assign the result to cnt_by_hour

pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['hour'] = df['timestamp'].dt.hour
cnt_by_hour = df.groupby('hour')['cnt'].mean().reset_index()
print(cnt_by_hour)

    hour          cnt
0      0   290.609116
1      1   200.631215
2      2   136.303745
3      3    94.245492
4      4    73.313454
5      5   110.707351
6      6   466.626722
7      7  1468.745179
8      8  2882.823204
9      9  1653.019257
10    10  1064.660690
11    11  1151.218707
12    12  1433.717421
13    13  1505.739011
14    14  1472.004121
15    15  1564.621399
16    16  1869.801370
17    17  2829.585165
18    18  2629.043956
19    19  1651.510316
20    20  1059.781293
21    21   741.249311
22    22   592.409655
23    23   439.652355

In [130]:
#EX-81: Group by is_weekend, hour column and calculate average value for the cnt column. Assign the result to cnt_by_weekend_hour

pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['hour'] = df['timestamp'].dt.hour
cnt_by_weekend_hour = df.groupby(['is_weekend', 'hour'])['cnt'].mean().reset_index()
print(cnt_by_weekend_hour)

    is_weekend  hour          cnt
0          0.0     0   215.366795
1          0.0     1   128.001931
2          0.0     2    81.007737
3          0.0     3    53.250000
4          0.0     4    52.248062
5          0.0     5   116.052326
6          0.0     6   604.655106
7          0.0     7  1969.518304
8          0.0     8  3863.922780
9          0.0     9  1997.605769
10         0.0    10  1003.832692
11         0.0    11   968.384615
12         0.0    12  1233.938462
13         0.0    13  1276.556840
14         0.0    14  1211.795761
15         0.0    15  1330.265385
16         0.0    16  1801.692898
17         0.0    17  3232.104046
18         0.0    18  3051.809249
19         0.0    19  1825.682081
20         0.0    20  1133.965318
21         0.0    21   789.131274
22         0.0    22   614.686654
23         0.0    23   434.893617
24         1.0     0   479.810680
25         1.0     1   383.262136
26         1.0     2   276.441176
27         1.0     3   197.434146
28         1.0     4   126.336585
29         1.0     5    97.253659
30         1.0     6   120.555556
31         1.0     7   213.183575
32         1.0     8   415.786408
33         1.0     9   787.391304
34         1.0    10  1218.956098
35         1.0    11  1610.512077
36         1.0    12  1930.775120
37         1.0    13  2074.856459
38         1.0    14  2118.167464
39         1.0    15  2147.708134
40         1.0    16  2039.583732
41         1.0    17  1830.028708
42         1.0    18  1579.210526
43         1.0    19  1216.918269
44         1.0    20   874.677885
45         1.0    21   622.004808
46         1.0    22   537.038462
47         1.0    23   451.653659

In [131]:
#EX-82: Extract rows for which wind_speed column is less than 10.0 and the hum is greater than 90.0
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['hour'] = df['timestamp'].dt.hour
print(df.query("wind_speed < 10.0 and hum > 90.0"))

                timestamp  cnt   t1   t2    hum  wind_speed  weather_code  is_holiday  is_weekend  season  hour
0     2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0         0.0         1.0     3.0     0
1     2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0         0.0         1.0     3.0     1
2     2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0         0.0         1.0     3.0     2
3     2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0         0.0         1.0     3.0     3
4     2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0         0.0         1.0     3.0     4
...                   ...  ...  ...  ...    ...         ...           ...         ...         ...     ...   ...
17312 2016-12-30 18:00:00  674  4.0  2.0  100.0         9.0           4.0         0.0         0.0     3.0    18
17319 2016-12-31 01:00:00  123  5.0  3.5  100.0         7.5           4.0         0.0         1.0     3.0     1
17320 2016-12-31 02:00:00   85  6.0  4.0   93.0         8.0           4.0         0.0         1.0     3.0     2
17370 2017-01-02 04:00:00   18  3.0  0.5   93.0         8.0           2.0         1.0         0.0     3.0     4
17371 2017-01-02 05:00:00   35  3.0  2.5   93.0         5.0           2.0         1.0         0.0     3.0     5

[692 rows x 11 columns]

In [132]:
#EX-83: Extract rows for which is_weekend column is 1.0. Copy result to df_weekend
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['hour'] = df['timestamp'].dt.hour
df_weekend = df.query("is_weekend == 1.0").copy()
print(df_weekend)

                timestamp  cnt   t1   t2    hum  wind_speed  weather_code  is_holiday  is_weekend  season  hour
0     2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0         0.0         1.0     3.0     0
1     2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0         0.0         1.0     3.0     1
2     2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0         0.0         1.0     3.0     2
3     2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0         0.0         1.0     3.0     3
4     2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0         0.0         1.0     3.0     4
...                   ...  ...  ...  ...    ...         ...           ...         ...         ...     ...   ...
17361 2017-01-01 19:00:00  136  5.0  2.0   93.0        15.0           7.0         0.0         1.0     3.0    19
17362 2017-01-01 20:00:00  116  5.0  2.0   93.0        14.0           7.0         0.0         1.0     3.0    20
17363 2017-01-01 21:00:00  110  5.0  2.0   93.0        14.0          26.0         0.0         1.0     3.0    21
17364 2017-01-01 22:00:00  119  5.0  2.0   93.0        12.0           3.0         0.0         1.0     3.0    22
17365 2017-01-01 23:00:00   89  5.0  2.5   90.0        10.0           1.0         0.0         1.0     3.0    23

[4970 rows x 11 columns]

In [133]:
#EX-84: Save the df_weekend to weeken.txt file
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['hour'] = df['timestamp'].dt.hour
df_weekend = df.query("is_weekend == 1.0").copy()
df_weekend.to_csv('weekend.txt', index=False)

In [135]:
#EX-85:Load below file and assign it to df variable (Print first 5 rows)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df= pd.read_csv(url)
print(df.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [136]:
#EX-86:Check for duplicate rows and print rows
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
print(df[df.duplicated()])

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [137]:
#EX-87: Remove duplicates from the oject
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

In [138]:
#EX-88: Print the columns with object type
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
print(df.select_dtypes(include=['object']))

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

In [139]:
#EX-89:Convert the column sex, smoker, region to category type
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
cat_vars = ['sex', 'smoker', 'region']
 
for col in cat_vars:
    df[col] = df[col].astype('category')
 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   category
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   category
 5   region    1338 non-null   category
 6   charges   1338 non-null   float64
dtypes: category(3), float64(2), int64(2)
memory usage: 46.2 KB

In [140]:
#EX-90:Extract all names of numeric columns(float, int) from this object as list
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
num_vars = list(df.select_dtypes(include=['float', 'int']).columns)
print(num_vars)

['bmi', 'charges']

In [141]:
#EX-91:Assign to the variable df_cat with categorical column from the df. Assign to the variable df_num with numerical column from the df
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_cat = df.select_dtypes(include=['category']).copy()
df_num = df.select_dtypes(include=['float', 'int']).copy()
print(df_cat.head())
print(df_num.head())

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast
2    male     no  southeast
3    male     no  northwest
4    male     no  northwest
      bmi      charges
0  27.900  16884.92400
1  33.770   1725.55230
2  33.000   4449.46200
3  22.705  21984.47061
4  28.880   3866.85520

In [142]:
#EX-92: Print basic statistics of below dataframe
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_cat = df.select_dtypes(include=['category']).copy()
print(df_cat.describe())

         sex smoker     region
count   1338   1338       1338
unique     2      2          4
top     male     no  southeast
freq     676   1064        364

In [143]:
#EX-93:Print basic statistics of below dataframe
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_num = df.select_dtypes(include=['float', 'int']).copy()
print(df_num.describe())

               bmi       charges
count  1338.000000   1338.000000
mean     30.663397  13270.422265
std       6.098187  12110.011237
min      15.960000   1121.873900
25%      26.296250   4740.287150
50%      30.400000   9382.033000
75%      34.693750  16639.912515
max      53.130000  63770.428010

In [144]:
#EX-94:Calculate the basic statistics only for numeric variable, transpose the result and extract columns (mean, std)

url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
print(df.describe().T[['mean', 'std']])

                  mean           std
age          39.207025     14.049960
bmi          30.663397      6.098187
children      1.094918      1.205493
charges   13270.422265  12110.011237

In [145]:
#EX-95:Check missing value from dataframes
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
print(df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [146]:
#EX-96:Convert all categorical variables to 0-1 encoding and assign it to df_dummies 
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_dummies = pd.get_dummies(df, drop_first=True)
print(df_dummies.head())

   age     bmi  children      charges  sex_male  smoker_yes  region_northwest  region_southeast  region_southwest
0   19  27.900         0  16884.92400         0           1                 0                 0                 1
1   18  33.770         1   1725.55230         1           0                 0                 1                 0
2   28  33.000         3   4449.46200         1           0                 0                 1                 0
3   33  22.705         0  21984.47061         1           0                 1                 0                 0
4   32  28.880         0   3866.85520         1           0                 1                 0                 0

In [147]:
#EX-97:Calculate the correlations of columns in df_dummies and assign it to carr variables

pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_dummies = pd.get_dummies(df, drop_first=True)
corr = df_dummies.corr()
print(corr)

                       age       bmi  children   charges  sex_male  smoker_yes  region_northwest  region_southeast  region_southwest
age               1.000000  0.109272  0.042469  0.299008 -0.020856   -0.025019         -0.000407         -0.011642          0.010016
bmi               0.109272  1.000000  0.012759  0.198341  0.046371    0.003750         -0.135996          0.270025         -0.006205
children          0.042469  0.012759  1.000000  0.067998  0.017163    0.007673          0.024806         -0.023066          0.021914
charges           0.299008  0.198341  0.067998  1.000000  0.057292    0.787251         -0.039905          0.073982         -0.043210
sex_male         -0.020856  0.046371  0.017163  0.057292  1.000000    0.076185         -0.011156          0.017117         -0.004184
smoker_yes       -0.025019  0.003750  0.007673  0.787251  0.076185    1.000000         -0.036945          0.068498         -0.036945
region_northwest -0.000407 -0.135996  0.024806 -0.039905 -0.011156   -0.036945          1.000000         -0.346265         -0.320829
region_southeast -0.011642  0.270025 -0.023066  0.073982  0.017117    0.068498         -0.346265          1.000000         -0.346265
region_southwest  0.010016 -0.006205  0.021914 -0.043210 -0.004184   -0.036945         -0.320829         -0.346265          1.000000

In [148]:
#EX-98: Extract charge column , sort the values in descending orders
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_dummies = pd.get_dummies(df, drop_first=True)
corr = df_dummies.corr()
print(corr[['charges']].sort_values(by='charges', ascending=False))

                   charges
charges           1.000000
smoker_yes        0.787251
age               0.299008
bmi               0.198341
region_southeast  0.073982
children          0.067998
sex_male          0.057292
region_northwest -0.039905
region_southwest -0.043210

In [151]:
#EX-99:Make a copy of df_dummies and assign to data variable. Then pop the charge column from this object and assign it to target variable
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_dummies = pd.get_dummies(df, drop_first=True)
data = df_dummies.copy()
target = data.pop('charges')
print(data.head())
print()
print(target.head())

   age     bmi  children  sex_male  smoker_yes  region_northwest  region_southeast  region_southwest
0   19  27.900         0         0           1                 0                 0                 1
1   18  33.770         1         1           0                 0                 1                 0
2   28  33.000         3         1           0                 0                 1                 0
3   33  22.705         0         1           0                 1                 0                 0
4   32  28.880         0         1           0                 1                 0                 0

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [152]:
#EX-100: Create the dataframe from the following dictionary and assign it to df variable
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}
df = pd.DataFrame(data)
print(df)

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [153]:
#EX-101: Convert columns size, color, gender, bought to category and weight to float
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df = pd.DataFrame(data)
for col in ['size', 'color', 'gender', 'bought']:
    df[col] = df[col].astype('category')
 
df['weight'] = df['weight'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 628.0 bytes

In [154]:
#EX-102: Transform all categorical variables 0-1 encoding
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df = pd.DataFrame(data)
for col in ['size', 'color', 'gender', 'bought']:
    df[col] = df[col].astype('category')

df['weight'] = df['weight'].astype('float')
print(pd.get_dummies(df))

   price  weight  size_L  size_M  size_XL  color_blue  color_green  color_red  gender_female  gender_male  bought_no  bought_yes
0  199.0   500.0       0       0        1           0            0          1              1            0          0           1
1   89.0   450.0       1       0        0           0            1          0              0            1          1           0
2   99.0   300.0       0       1        0           1            0          0              0            1          0           1
3  129.0   380.0       1       0        0           0            1          0              1            0          1           0
4   79.0   410.0       0       1        0           0            0          1              1            0          0           1

In [155]:
#EX-103:Transform all categorical variables 0-1 encoding
pd.set_option('max_columns', 15)
pd.set_option('display.width', 150)
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df = pd.DataFrame(data)
for col in ['size', 'color', 'gender', 'bought']:
    df[col] = df[col].astype('category')

df['weight'] = df['weight'].astype('float')
print(pd.get_dummies(df, drop_first=True))

   price  weight  size_M  size_XL  color_green  color_red  gender_male  bought_yes
0  199.0   500.0       0        1            0          1            0           1
1   89.0   450.0       0        0            1          0            1           0
2   99.0   300.0       1        0            0          0            1           1
3  129.0   380.0       0        0            1          0            0           0
4   79.0   410.0       1        0            0          1            0           1

In [157]:
#EX-104: Load this market.json file and stored into df variable
pd.set_option('display.max_columns', 15)
pd.set_option('display.width', 1000)
df = pd.read_json('market.json')
print(df)

                       profile   time     price  change pct_change  reference_price      open       low      high
0              ^AEX (Holandia)  14:12    548.73    7.95   (+1.47%)           540.78    546.55    544.72    550.72
1               ^ATX (Austria)  14:11   2147.90   17.68   (+0.83%)          2130.22   2131.47   2118.71   2163.92
2               ^ATXC (Grecja)  14:13    621.82   -2.80   (-0.45%)           624.62    627.48    621.82    631.70
3              ^BEL20 (Belgia)  14:11   3251.39   30.51   (+0.95%)          3220.88   3252.21   3228.77   3266.11
4                 ^BUX (Węgry)  14:12  32831.01  534.27   (+1.65%)         32296.74  32421.05  32421.05  32865.43
5             ^CAC40 (Francja)  14:12   4839.46   66.62   (+1.40%)          4772.84   4824.17   4803.91   4871.45
6                ^DAX (Niemcy)  14:14  12758.52  164.13   (+1.30%)         12594.39  12737.32  12688.33  12830.70
7   ^FTSE100 (Wielka Brytania)  14:12   5945.44  115.98   (+1.99%)          5829.46   5829.46   5829.46   5974.88
8   ^FTSE250 (Wielka Brytania)  14:12  17038.88  217.22   (+1.29%)         16821.66  16821.66  16821.66  17123.31
9            ^FTSEMIB (Włochy)  14:12  19080.16  184.57   (+0.98%)         18895.59  19080.18  18944.29  19231.99
10         ^IBEX35 (Hiszpania)  14:12   6755.80  107.20   (+1.61%)          6648.60   6717.80   6681.60   6781.10
11             ^OMXC20 (Dania)  14:27   1336.57    0.58   (+0.04%)          1335.99   1338.82   1322.42   1338.82
12         ^OMXH25 (Finlandia)  14:26  10037.06   21.87   (+0.22%)         10015.19  10052.81  10024.27  10107.86
13           ^OMXS30 (Szwecja)  14:27   1802.43   20.51   (+1.15%)          1781.92   1791.67   1789.70   1814.53
14           ^OSEAX (Norwegia)  14:12    739.99    1.36   (+0.18%)           738.63    738.46    738.03    744.44
15         ^PSI20 (Portugalia)  14:13   4119.97   -1.97   (-0.05%)          4121.94   4141.19   4119.97   4156.11
16              ^PX50 (Czechy)  14:12    870.57    2.52   (+0.29%)           868.05    868.53    862.45    873.37
17             ^RDXEUR (Rosja)  14:11   1264.48    2.21   (+0.18%)          1262.27   1263.78   1259.57   1274.42
18                ^RTS (Rosja)  14:11   1524.18   -2.09   (-0.14%)          1526.27   1526.27   1521.70   1541.51
19           ^SMI (Szwajcaria)  14:11  10371.42   15.85   (+0.15%)         10355.57  10368.65  10334.54  10439.74
20             ^XU100 (Turcja)  14:12   1104.41    8.25   (+0.75%)          1096.16   1101.04   1098.82   1106.06
21              WIG20 (Polska)  14:29   1695.96    2.87   (+0.17%)          1693.09   1701.26   1695.36   1712.27

In [158]:
#EX-105:Extract country_name from the first column and assign it to country
pd.set_option('display.max_columns', 15)
pd.set_option('display.width', 1000)
df = pd.read_json('market.json')
df['country'] = df['profile'].str.split(n=1, expand=True)[1].apply(lambda item: item[1:-1])
print(df)

                       profile   time     price  change pct_change  reference_price      open       low      high          country
0              ^AEX (Holandia)  14:12    548.73    7.95   (+1.47%)           540.78    546.55    544.72    550.72         Holandia
1               ^ATX (Austria)  14:11   2147.90   17.68   (+0.83%)          2130.22   2131.47   2118.71   2163.92          Austria
2               ^ATXC (Grecja)  14:13    621.82   -2.80   (-0.45%)           624.62    627.48    621.82    631.70           Grecja
3              ^BEL20 (Belgia)  14:11   3251.39   30.51   (+0.95%)          3220.88   3252.21   3228.77   3266.11           Belgia
4                 ^BUX (Węgry)  14:12  32831.01  534.27   (+1.65%)         32296.74  32421.05  32421.05  32865.43            Węgry
5             ^CAC40 (Francja)  14:12   4839.46   66.62   (+1.40%)          4772.84   4824.17   4803.91   4871.45          Francja
6                ^DAX (Niemcy)  14:14  12758.52  164.13   (+1.30%)         12594.39  12737.32  12688.33  12830.70           Niemcy
7   ^FTSE100 (Wielka Brytania)  14:12   5945.44  115.98   (+1.99%)          5829.46   5829.46   5829.46   5974.88  Wielka Brytania
8   ^FTSE250 (Wielka Brytania)  14:12  17038.88  217.22   (+1.29%)         16821.66  16821.66  16821.66  17123.31  Wielka Brytania
9            ^FTSEMIB (Włochy)  14:12  19080.16  184.57   (+0.98%)         18895.59  19080.18  18944.29  19231.99           Włochy
10         ^IBEX35 (Hiszpania)  14:12   6755.80  107.20   (+1.61%)          6648.60   6717.80   6681.60   6781.10        Hiszpania
11             ^OMXC20 (Dania)  14:27   1336.57    0.58   (+0.04%)          1335.99   1338.82   1322.42   1338.82            Dania
12         ^OMXH25 (Finlandia)  14:26  10037.06   21.87   (+0.22%)         10015.19  10052.81  10024.27  10107.86        Finlandia
13           ^OMXS30 (Szwecja)  14:27   1802.43   20.51   (+1.15%)          1781.92   1791.67   1789.70   1814.53          Szwecja
14           ^OSEAX (Norwegia)  14:12    739.99    1.36   (+0.18%)           738.63    738.46    738.03    744.44         Norwegia
15         ^PSI20 (Portugalia)  14:13   4119.97   -1.97   (-0.05%)          4121.94   4141.19   4119.97   4156.11       Portugalia
16              ^PX50 (Czechy)  14:12    870.57    2.52   (+0.29%)           868.05    868.53    862.45    873.37           Czechy
17             ^RDXEUR (Rosja)  14:11   1264.48    2.21   (+0.18%)          1262.27   1263.78   1259.57   1274.42            Rosja
18                ^RTS (Rosja)  14:11   1524.18   -2.09   (-0.14%)          1526.27   1526.27   1521.70   1541.51            Rosja
19           ^SMI (Szwajcaria)  14:11  10371.42   15.85   (+0.15%)         10355.57  10368.65  10334.54  10439.74       Szwajcaria
20             ^XU100 (Turcja)  14:12   1104.41    8.25   (+0.75%)          1096.16   1101.04   1098.82   1106.06           Turcja
21              WIG20 (Polska)  14:29   1695.96    2.87   (+0.17%)          1693.09   1701.26   1695.36   1712.27           Polska

In [159]:
#EX-106: Extract country names that occurs more than once as a list
pd.set_option('display.max_columns', 15)
pd.set_option('display.width', 1000)
df = pd.read_json('market.json')
df['country'] = df['profile'].str.split(n=1, expand=True)[1].apply(lambda item: item[1:-1])
print(sorted(df['country'].value_counts()[df['country'].value_counts() > 1].index))

['Rosja', 'Wielka Brytania']

In [161]:
#EX-107: convert column pct_change to float type

pd.set_option('display.max_columns', 15)
pd.set_option('display.width', 1000)
df = pd.read_json('market.json')
df['pct_change'] = df['pct_change'].apply(lambda item: float(item[1:-2]))
print(df)

                       profile   time     price  change  pct_change  reference_price      open       low      high
0              ^AEX (Holandia)  14:12    548.73    7.95        1.47           540.78    546.55    544.72    550.72
1               ^ATX (Austria)  14:11   2147.90   17.68        0.83          2130.22   2131.47   2118.71   2163.92
2               ^ATXC (Grecja)  14:13    621.82   -2.80       -0.45           624.62    627.48    621.82    631.70
3              ^BEL20 (Belgia)  14:11   3251.39   30.51        0.95          3220.88   3252.21   3228.77   3266.11
4                 ^BUX (Węgry)  14:12  32831.01  534.27        1.65         32296.74  32421.05  32421.05  32865.43
5             ^CAC40 (Francja)  14:12   4839.46   66.62        1.40          4772.84   4824.17   4803.91   4871.45
6                ^DAX (Niemcy)  14:14  12758.52  164.13        1.30         12594.39  12737.32  12688.33  12830.70
7   ^FTSE100 (Wielka Brytania)  14:12   5945.44  115.98        1.99          5829.46   5829.46   5829.46   5974.88
8   ^FTSE250 (Wielka Brytania)  14:12  17038.88  217.22        1.29         16821.66  16821.66  16821.66  17123.31
9            ^FTSEMIB (Włochy)  14:12  19080.16  184.57        0.98         18895.59  19080.18  18944.29  19231.99
10         ^IBEX35 (Hiszpania)  14:12   6755.80  107.20        1.61          6648.60   6717.80   6681.60   6781.10
11             ^OMXC20 (Dania)  14:27   1336.57    0.58        0.04          1335.99   1338.82   1322.42   1338.82
12         ^OMXH25 (Finlandia)  14:26  10037.06   21.87        0.22         10015.19  10052.81  10024.27  10107.86
13           ^OMXS30 (Szwecja)  14:27   1802.43   20.51        1.15          1781.92   1791.67   1789.70   1814.53
14           ^OSEAX (Norwegia)  14:12    739.99    1.36        0.18           738.63    738.46    738.03    744.44
15         ^PSI20 (Portugalia)  14:13   4119.97   -1.97       -0.05          4121.94   4141.19   4119.97   4156.11
16              ^PX50 (Czechy)  14:12    870.57    2.52        0.29           868.05    868.53    862.45    873.37
17             ^RDXEUR (Rosja)  14:11   1264.48    2.21        0.18          1262.27   1263.78   1259.57   1274.42
18                ^RTS (Rosja)  14:11   1524.18   -2.09       -0.14          1526.27   1526.27   1521.70   1541.51
19           ^SMI (Szwajcaria)  14:11  10371.42   15.85        0.15         10355.57  10368.65  10334.54  10439.74
20             ^XU100 (Turcja)  14:12   1104.41    8.25        0.75          1096.16   1101.04   1098.82   1106.06
21              WIG20 (Polska)  14:29   1695.96    2.87        0.17          1693.09   1701.26   1695.36   1712.27

In [162]:
#EX-108:Print highest pct_change, blank line and lowest pct_change
pd.set_option('display.max_columns', 15)
pd.set_option('display.width', 1000)
df = pd.read_json('market.json')
df['pct_change'] = df['pct_change'].apply(lambda item: float(item[1:-2]))
print(df.iloc[df['pct_change'].argmax()])
print()
print(df.iloc[df['pct_change'].argmin()])

profile            ^FTSE100 (Wielka Brytania)
time                                    14:12
price                                 5945.44
change                                 115.98
pct_change                               1.99
reference_price                       5829.46
open                                  5829.46
low                                   5829.46
high                                  5974.88
Name: 7, dtype: object

profile            ^ATXC (Grecja)
time                        14:13
price                      621.82
change                       -2.8
pct_change                  -0.45
reference_price            624.62
open                       627.48
low                        621.82
high                        631.7
Name: 2, dtype: object

In [164]:
#EX-109:Extract all rows pct_change column is greater than or equal to zero and save to positive.json do the same for negative values and save it to negative.json
pd.set_option('display.max_columns', 15)
pd.set_option('display.width', 1000)
df = pd.read_json('market.json')
df['pct_change'] = df['pct_change'].apply(lambda item: float(item[1:-2]))
df[df['pct_change'] >= 0].to_json('positive.json', indent=4)
df[df['pct_change'] < 0].to_json('negative.json', indent=4)

In [165]:
#EX-110: Load data from amazon.csv and tesla.csv
amazon = pd.read_csv('amazon.csv', index_col=0)
tesla = pd.read_csv('tesla.csv', index_col=0)
print(amazon)
print()
print(tesla)

                 Open       High        Low    Close   Volume
Date
2020-09-22  3033.8350  3133.9900  3000.2000  3128.99  6948816
2020-09-21  2906.5000  2962.0000  2871.0000  2960.47  6117925
2020-09-18  3031.7400  3037.8000  2905.5400  2954.91  8892580
2020-09-17  3009.2500  3029.4320  2972.5500  3008.73  6449050
2020-09-16  3179.9900  3187.2380  3074.1500  3078.10  4531189
2020-09-15  3136.1600  3175.0200  3108.9200  3156.13  4021535
2020-09-14  3172.9372  3187.3900  3096.0000  3102.97  4529596
2020-09-11  3208.6900  3217.3409  3083.9800  3116.22  5093982
2020-09-10  3307.2188  3349.8900  3170.5500  3175.11  5330741
2020-09-09  3202.9900  3303.1750  3185.0000  3268.61  5188675
2020-09-08  3144.0000  3250.8450  3130.0000  3149.84  6094205
2020-09-04  3318.0000  3381.5000  3111.1300  3294.62  8781754
2020-09-03  3485.0000  3488.4100  3303.0000  3368.00  8161113
2020-09-02  3547.0000  3552.2500  3486.6850  3531.45  3931476
2020-09-01  3489.5800  3513.8700  3467.0000  3499.12  3476407
2020-08-31  3408.9900  3495.0000  3405.0000  3450.96  4185885
2020-08-28  3423.0000  3433.3699  3386.5000  3401.80  2896978
2020-08-27  3450.0500  3453.0000  3378.0000  3400.00  4264795
2020-08-26  3351.1100  3451.7387  3344.5675  3441.85  6508743
2020-08-25  3294.9900  3357.4000  3267.0000  3346.49  3992842

              Open    High       Low   Close     Volume
Date
2020-09-22  429.60  437.76  417.6001  424.23   79580795
2020-09-21  453.13  455.68  407.0700  449.39  109476800
2020-09-18  447.94  451.00  428.8000  442.15   86406819
2020-09-17  415.60  437.79  408.0001  423.43   76779163
2020-09-16  439.87  457.79  435.3100  441.76   72546760
2020-09-15  436.56  461.94  430.7000  449.76   97298228
2020-09-14  380.95  420.00  373.3000  419.62   83020608
2020-09-11  381.94  382.50  360.5000  372.72   60717459
2020-09-10  386.21  398.99  360.5600  371.34   84930608
2020-09-09  356.60  369.00  341.5100  366.28   79465769
2020-09-08  356.00  368.74  329.8800  330.21  115465691
2020-09-04  402.81  428.00  372.0201  418.32  110321885
2020-09-03  407.23  431.80  402.0000  407.00   87596086
2020-09-02  478.99  479.04  405.1206  447.37   96176128
2020-09-01  502.14  502.49  470.5100  475.05   90119419
2020-08-31  444.61  500.14  440.1100  498.32  118374406
2020-08-28  459.02  463.70  437.3000  442.68  100405880
2020-08-27  436.09  459.12  428.5000  447.75  118465215
2020-08-26  412.00  433.20  410.7300  430.63   71196910
2020-08-25  394.98  405.59  393.6000  404.67   53294465

In [166]:
#EX-111:Replace column name by adding prefix 'amzn' to each column in amazon and prefix 'tsla' to each column on tesla. Also converts uppercase to lowercase
amazon = pd.read_csv('amazon.csv', index_col=0)
tesla = pd.read_csv('tesla.csv', index_col=0)
amazon.columns = ['amzn_' + col.lower() for col in amazon.columns]
tesla.columns = ['tsla_' + col.lower() for col in tesla.columns]
print(amazon)
print()
print(tesla)

            amzn_open  amzn_high   amzn_low  amzn_close  amzn_volume
Date
2020-09-22  3033.8350  3133.9900  3000.2000     3128.99      6948816
2020-09-21  2906.5000  2962.0000  2871.0000     2960.47      6117925
2020-09-18  3031.7400  3037.8000  2905.5400     2954.91      8892580
2020-09-17  3009.2500  3029.4320  2972.5500     3008.73      6449050
2020-09-16  3179.9900  3187.2380  3074.1500     3078.10      4531189
2020-09-15  3136.1600  3175.0200  3108.9200     3156.13      4021535
2020-09-14  3172.9372  3187.3900  3096.0000     3102.97      4529596
2020-09-11  3208.6900  3217.3409  3083.9800     3116.22      5093982
2020-09-10  3307.2188  3349.8900  3170.5500     3175.11      5330741
2020-09-09  3202.9900  3303.1750  3185.0000     3268.61      5188675
2020-09-08  3144.0000  3250.8450  3130.0000     3149.84      6094205
2020-09-04  3318.0000  3381.5000  3111.1300     3294.62      8781754
2020-09-03  3485.0000  3488.4100  3303.0000     3368.00      8161113
2020-09-02  3547.0000  3552.2500  3486.6850     3531.45      3931476
2020-09-01  3489.5800  3513.8700  3467.0000     3499.12      3476407
2020-08-31  3408.9900  3495.0000  3405.0000     3450.96      4185885
2020-08-28  3423.0000  3433.3699  3386.5000     3401.80      2896978
2020-08-27  3450.0500  3453.0000  3378.0000     3400.00      4264795
2020-08-26  3351.1100  3451.7387  3344.5675     3441.85      6508743
2020-08-25  3294.9900  3357.4000  3267.0000     3346.49      3992842

            tsla_open  tsla_high  tsla_low  tsla_close  tsla_volume
Date
2020-09-22     429.60     437.76  417.6001      424.23     79580795
2020-09-21     453.13     455.68  407.0700      449.39    109476800
2020-09-18     447.94     451.00  428.8000      442.15     86406819
2020-09-17     415.60     437.79  408.0001      423.43     76779163
2020-09-16     439.87     457.79  435.3100      441.76     72546760
2020-09-15     436.56     461.94  430.7000      449.76     97298228
2020-09-14     380.95     420.00  373.3000      419.62     83020608
2020-09-11     381.94     382.50  360.5000      372.72     60717459
2020-09-10     386.21     398.99  360.5600      371.34     84930608
2020-09-09     356.60     369.00  341.5100      366.28     79465769
2020-09-08     356.00     368.74  329.8800      330.21    115465691
2020-09-04     402.81     428.00  372.0201      418.32    110321885
2020-09-03     407.23     431.80  402.0000      407.00     87596086
2020-09-02     478.99     479.04  405.1206      447.37     96176128
2020-09-01     502.14     502.49  470.5100      475.05     90119419
2020-08-31     444.61     500.14  440.1100      498.32    118374406
2020-08-28     459.02     463.70  437.3000      442.68    100405880
2020-08-27     436.09     459.12  428.5000      447.75    118465215
2020-08-26     412.00     433.20  410.7300      430.63     71196910
2020-08-25     394.98     405.59  393.6000      404.67     53294465

In [167]:
#EX-112: Combine amazon and tesla two objects into one dataframes
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
 
amazon = pd.read_csv('amazon.csv', index_col=0)
tesla = pd.read_csv('tesla.csv', index_col=0)
amazon.columns = ['amzn_' + col.lower() for col in amazon.columns]
tesla.columns = ['tsla_' + col.lower() for col in tesla.columns]
result = pd.concat([amazon, tesla], axis=1)
print(result)

            amzn_open  amzn_high   amzn_low  amzn_close  amzn_volume  tsla_open  tsla_high  tsla_low  tsla_close  tsla_volume
Date
2020-09-22  3033.8350  3133.9900  3000.2000     3128.99      6948816     429.60     437.76  417.6001      424.23     79580795
2020-09-21  2906.5000  2962.0000  2871.0000     2960.47      6117925     453.13     455.68  407.0700      449.39    109476800
2020-09-18  3031.7400  3037.8000  2905.5400     2954.91      8892580     447.94     451.00  428.8000      442.15     86406819
2020-09-17  3009.2500  3029.4320  2972.5500     3008.73      6449050     415.60     437.79  408.0001      423.43     76779163
2020-09-16  3179.9900  3187.2380  3074.1500     3078.10      4531189     439.87     457.79  435.3100      441.76     72546760
2020-09-15  3136.1600  3175.0200  3108.9200     3156.13      4021535     436.56     461.94  430.7000      449.76     97298228
2020-09-14  3172.9372  3187.3900  3096.0000     3102.97      4529596     380.95     420.00  373.3000      419.62     83020608
2020-09-11  3208.6900  3217.3409  3083.9800     3116.22      5093982     381.94     382.50  360.5000      372.72     60717459
2020-09-10  3307.2188  3349.8900  3170.5500     3175.11      5330741     386.21     398.99  360.5600      371.34     84930608
2020-09-09  3202.9900  3303.1750  3185.0000     3268.61      5188675     356.60     369.00  341.5100      366.28     79465769
2020-09-08  3144.0000  3250.8450  3130.0000     3149.84      6094205     356.00     368.74  329.8800      330.21    115465691
2020-09-04  3318.0000  3381.5000  3111.1300     3294.62      8781754     402.81     428.00  372.0201      418.32    110321885
2020-09-03  3485.0000  3488.4100  3303.0000     3368.00      8161113     407.23     431.80  402.0000      407.00     87596086
2020-09-02  3547.0000  3552.2500  3486.6850     3531.45      3931476     478.99     479.04  405.1206      447.37     96176128
2020-09-01  3489.5800  3513.8700  3467.0000     3499.12      3476407     502.14     502.49  470.5100      475.05     90119419
2020-08-31  3408.9900  3495.0000  3405.0000     3450.96      4185885     444.61     500.14  440.1100      498.32    118374406
2020-08-28  3423.0000  3433.3699  3386.5000     3401.80      2896978     459.02     463.70  437.3000      442.68    100405880
2020-08-27  3450.0500  3453.0000  3378.0000     3400.00      4264795     436.09     459.12  428.5000      447.75    118465215
2020-08-26  3351.1100  3451.7387  3344.5675     3441.85      6508743     412.00     433.20  410.7300      430.63     71196910
2020-08-25  3294.9900  3357.4000  3267.0000     3346.49      3992842     394.98     405.59  393.6000      404.67     53294465

In [168]:
#EX-113: Extract columns amzn_open, amzn_close, tsla_open, tsla_close
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)

amazon = pd.read_csv('amazon.csv', index_col=0)
tesla = pd.read_csv('tesla.csv', index_col=0)
amazon.columns = ['amzn_' + col.lower() for col in amazon.columns]
tesla.columns = ['tsla_' + col.lower() for col in tesla.columns]
result = pd.concat([amazon, tesla], axis=1)
quotations = result[['amzn_open', 'amzn_close', 'tsla_open', 'tsla_close']].copy()
print(quotations)

            amzn_open  amzn_close  tsla_open  tsla_close
Date
2020-09-22  3033.8350     3128.99     429.60      424.23
2020-09-21  2906.5000     2960.47     453.13      449.39
2020-09-18  3031.7400     2954.91     447.94      442.15
2020-09-17  3009.2500     3008.73     415.60      423.43
2020-09-16  3179.9900     3078.10     439.87      441.76
2020-09-15  3136.1600     3156.13     436.56      449.76
2020-09-14  3172.9372     3102.97     380.95      419.62
2020-09-11  3208.6900     3116.22     381.94      372.72
2020-09-10  3307.2188     3175.11     386.21      371.34
2020-09-09  3202.9900     3268.61     356.60      366.28
2020-09-08  3144.0000     3149.84     356.00      330.21
2020-09-04  3318.0000     3294.62     402.81      418.32
2020-09-03  3485.0000     3368.00     407.23      407.00
2020-09-02  3547.0000     3531.45     478.99      447.37
2020-09-01  3489.5800     3499.12     502.14      475.05
2020-08-31  3408.9900     3450.96     444.61      498.32
2020-08-28  3423.0000     3401.80     459.02      442.68
2020-08-27  3450.0500     3400.00     436.09      447.75
2020-08-26  3351.1100     3441.85     412.00      430.63
2020-08-25  3294.9900     3346.49     394.98      404.67

In [169]:
#EX-114: Assign two columns amzn_change, tsla_change which will be daily percentage change of price
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)

amazon = pd.read_csv('amazon.csv', index_col=0)
tesla = pd.read_csv('tesla.csv', index_col=0)
amazon.columns = ['amzn_' + col.lower() for col in amazon.columns]
tesla.columns = ['tsla_' + col.lower() for col in tesla.columns]
result = pd.concat([amazon, tesla], axis=1)
quotations = result[['amzn_open', 'amzn_close', 'tsla_open', 'tsla_close']].copy()
quotations['amzn_change'] = (quotations['amzn_close'] / quotations['amzn_open'] - 1) * 100
quotations['tsla_change'] = (quotations['tsla_close'] / quotations['tsla_open'] - 1) * 100
print(quotations)

            amzn_open  amzn_close  tsla_open  tsla_close  amzn_change  tsla_change
Date
2020-09-22  3033.8350     3128.99     429.60      424.23     3.136459    -1.250000
2020-09-21  2906.5000     2960.47     453.13      449.39     1.856873    -0.825370
2020-09-18  3031.7400     2954.91     447.94      442.15    -2.534188    -1.292584
2020-09-17  3009.2500     3008.73     415.60      423.43    -0.017280     1.884023
2020-09-16  3179.9900     3078.10     439.87      441.76    -3.204098     0.429672
2020-09-15  3136.1600     3156.13     436.56      449.76     0.636766     3.023639
2020-09-14  3172.9372     3102.97     380.95      419.62    -2.205124    10.150938
2020-09-11  3208.6900     3116.22     381.94      372.72    -2.881861    -2.413992
2020-09-10  3307.2188     3175.11     386.21      371.34    -3.994559    -3.850237
2020-09-09  3202.9900     3268.61     356.60      366.28     2.048711     2.714526
2020-09-08  3144.0000     3149.84     356.00      330.21     0.185751    -7.244382
2020-09-04  3318.0000     3294.62     402.81      418.32    -0.704641     3.850451
2020-09-03  3485.0000     3368.00     407.23      407.00    -3.357245    -0.056479
2020-09-02  3547.0000     3531.45     478.99      447.37    -0.438399    -6.601390
2020-09-01  3489.5800     3499.12     502.14      475.05     0.273385    -5.394910
2020-08-31  3408.9900     3450.96     444.61      498.32     1.231156    12.080250
2020-08-28  3423.0000     3401.80     459.02      442.68    -0.619340    -3.559758
2020-08-27  3450.0500     3400.00     436.09      447.75    -1.450704     2.673760
2020-08-26  3351.1100     3441.85     412.00      430.63     2.707760     4.521845
2020-08-25  3294.9900     3346.49     394.98      404.67     1.562979     2.453289

In [170]:
#EX-115:Create new column similarity_flag that stores 1 when daily percentage change for amazon and tesla otherwise 0
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
 
amazon = pd.read_csv('amazon.csv', index_col=0)
tesla = pd.read_csv('tesla.csv', index_col=0)
amazon.columns = ['amzn_' + col.lower() for col in amazon.columns]
tesla.columns = ['tsla_' + col.lower() for col in tesla.columns]
result = pd.concat([amazon, tesla], axis=1)
quotations = result[['amzn_open', 'amzn_close', 'tsla_open', 'tsla_close']].copy()
quotations['amzn_change'] = (quotations['amzn_close'] / quotations['amzn_open'] - 1) * 100
quotations['tsla_change'] = (quotations['tsla_close'] / quotations['tsla_open'] - 1) * 100
quotations['similarity_flag'] = (quotations['amzn_change'] * quotations['tsla_change'] > 0) * 1
print(quotations)

            amzn_open  amzn_close  tsla_open  tsla_close  amzn_change  tsla_change  similarity_flag
Date
2020-09-22  3033.8350     3128.99     429.60      424.23     3.136459    -1.250000                0
2020-09-21  2906.5000     2960.47     453.13      449.39     1.856873    -0.825370                0
2020-09-18  3031.7400     2954.91     447.94      442.15    -2.534188    -1.292584                1
2020-09-17  3009.2500     3008.73     415.60      423.43    -0.017280     1.884023                0
2020-09-16  3179.9900     3078.10     439.87      441.76    -3.204098     0.429672                0
2020-09-15  3136.1600     3156.13     436.56      449.76     0.636766     3.023639                1
2020-09-14  3172.9372     3102.97     380.95      419.62    -2.205124    10.150938                0
2020-09-11  3208.6900     3116.22     381.94      372.72    -2.881861    -2.413992                1
2020-09-10  3307.2188     3175.11     386.21      371.34    -3.994559    -3.850237                1
2020-09-09  3202.9900     3268.61     356.60      366.28     2.048711     2.714526                1
2020-09-08  3144.0000     3149.84     356.00      330.21     0.185751    -7.244382                0
2020-09-04  3318.0000     3294.62     402.81      418.32    -0.704641     3.850451                0
2020-09-03  3485.0000     3368.00     407.23      407.00    -3.357245    -0.056479                1
2020-09-02  3547.0000     3531.45     478.99      447.37    -0.438399    -6.601390                1
2020-09-01  3489.5800     3499.12     502.14      475.05     0.273385    -5.394910                0
2020-08-31  3408.9900     3450.96     444.61      498.32     1.231156    12.080250                1
2020-08-28  3423.0000     3401.80     459.02      442.68    -0.619340    -3.559758                1
2020-08-27  3450.0500     3400.00     436.09      447.75    -1.450704     2.673760                0
2020-08-26  3351.1100     3441.85     412.00      430.63     2.707760     4.521845                1
2020-08-25  3294.9900     3346.49     394.98      404.67     1.562979     2.453289                1

In [171]:
#EX-116:Calculate percentage of treding sessions for which amazon and tesla had same direction similarity_flag=1
 
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
 
amazon = pd.read_csv('amazon.csv', index_col=0)
tesla = pd.read_csv('tesla.csv', index_col=0)
amazon.columns = ['amzn_' + col.lower() for col in amazon.columns]
tesla.columns = ['tsla_' + col.lower() for col in tesla.columns]
result = pd.concat([amazon, tesla], axis=1)
quotations = result[['amzn_open', 'amzn_close', 'tsla_open', 'tsla_close']].copy()
quotations['amzn_change'] = (quotations['amzn_close'] / quotations['amzn_open'] - 1) * 100
quotations['tsla_change'] = (quotations['tsla_close'] / quotations['tsla_open'] - 1) * 100
quotations['similarity_flag'] = (quotations['amzn_change'] * quotations['tsla_change'] > 0) * 1
result = quotations['similarity_flag'].sum() / len(quotations)
print(f'{result * 100:.2f}%')

55.00%

In [173]:
#EX-117:Use this dictionaries for create dataframe products, orders_day_1, orders_day_2
products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}
 
orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}       
 
orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}                
 
products = pd.DataFrame(products_dict)
orders_day_1 = pd.DataFrame(orders_day_1_dict)
orders_day_2 = pd.DataFrame(orders_day_2_dict)
 
print(products)
print(orders_day_1)
print(orders_day_2)

  product_id          name    price
0        001  mobile phone  1490.00
1        004        laptop  3400.00
2        007         mouse    59.99
3        010        tablet   999.00
  order_id product_id  quantity
0     1001        004         2
1     1002        001         1
2     1003        001         1
3     1004        007         3
  order_id product_id  quantity
0     1005        010         2
1     1006        001         1
2     1007        007         1

In [175]:
#EX-118:Combine orders_day_1 dataframe with orders_day_2
products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}
 
orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}       
 
orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}                
 
products = pd.DataFrame(products_dict)
orders_day_1 = pd.DataFrame(orders_day_1_dict)
orders_day_2 = pd.DataFrame(orders_day_2_dict)
 
orders = orders_day_1.append(orders_day_2, ignore_index=True)
print(orders)

  order_id product_id  quantity
0     1001        004         2
1     1002        001         1
2     1003        001         1
3     1004        007         3
4     1005        010         2
5     1006        001         1
6     1007        007         1

In [176]:
#EX-119:Create dataframe and assign it to result variable
 
products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}
 
orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}       
 
orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}                
 
products = pd.DataFrame(products_dict)
orders_day_1 = pd.DataFrame(orders_day_1_dict)
orders_day_2 = pd.DataFrame(orders_day_2_dict)
orders = orders_day_1.append(orders_day_2, ignore_index=True)
 
result = pd.merge(orders, products, on='product_id')
print(result)

  order_id product_id  quantity          name    price
0     1001        004         2        laptop  3400.00
1     1002        001         1  mobile phone  1490.00
2     1003        001         1  mobile phone  1490.00
3     1006        001         1  mobile phone  1490.00
4     1004        007         3         mouse    59.99
5     1007        007         1         mouse    59.99
6     1005        010         2        tablet   999.00

In [178]:
#EX-120:Based on the quantity and price column, calculate a new column total that stores totalamount for each column
products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}
 
orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}       
 
orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}                
 
products = pd.DataFrame(products_dict)
orders_day_1 = pd.DataFrame(orders_day_1_dict)
orders_day_2 = pd.DataFrame(orders_day_2_dict)
orders = orders_day_1.append(orders_day_2, ignore_index=True)
result = pd.merge(orders, products, on='product_id')
 
result['total'] = result['quantity'] * result['price']
print(result)

  order_id product_id  quantity          name    price    total
0     1001        004         2        laptop  3400.00  6800.00
1     1002        001         1  mobile phone  1490.00  1490.00
2     1003        001         1  mobile phone  1490.00  1490.00
3     1006        001         1  mobile phone  1490.00  1490.00
4     1004        007         3         mouse    59.99   179.97
5     1007        007         1         mouse    59.99    59.99
6     1005        010         2        tablet   999.00  1998.00

In [179]:
#EX-121:result.csv ->skip index, result.html,result.json
products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}
 
orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}       
 
orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}                
 
products = pd.DataFrame(products_dict)
orders_day_1 = pd.DataFrame(orders_day_1_dict)
orders_day_2 = pd.DataFrame(orders_day_2_dict)
orders = orders_day_1.append(orders_day_2, ignore_index=True)
result = pd.merge(orders, products, on='product_id')
result['total'] = result['quantity'] * result['price']
 
result.to_csv('result.csv', index=False)
result.to_html('result.html')
result.to_json('result.json', indent=4)

In [180]:
#EX-122:Make an inner join of employees and department 
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '005']
})
 
departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})
 
result = pd.merge(employees, departments, how='inner', on='dept_id')
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT

In [181]:
#EX-123:Make an Left join of employees and department 
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '005']
})
 
departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})
 
result = pd.merge(employees, departments, how='left', on='dept_id')
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT
3   1004      Alice       Lee     005       NaN

In [182]:
#EX-124:Make an Right join of employees and department 
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '005']
})
 
departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})
 
result = pd.merge(employees, departments, how='right', on='dept_id')
print(result)

  emp_id first_name last_name dept_id  dept_name
0   1002       Mark      Cook     001         IT
1   1003        Bob       Cat     001         IT
2   1001       John     Smith     002      Sales
3    NaN        NaN       NaN     003  Marketing
4    NaN        NaN       NaN     004    Support

In [183]:
#EX-125:Make an Outer join of employees and department 
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '005']
})
 
departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})
 
result = pd.merge(employees, departments, how='outer', on='dept_id')
print(result)

  emp_id first_name last_name dept_id  dept_name
0   1001       John     Smith     002      Sales
1   1002       Mark      Cook     001         IT
2   1003        Bob       Cat     001         IT
3   1004      Alice       Lee     005        NaN
4    NaN        NaN       NaN     003  Marketing
5    NaN        NaN       NaN     004    Support

In [184]:
#EX-126: We have duplicate values using inner join
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '001', '005']
})

departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})

result = pd.merge(employees, departments, how='inner', on='dept_id')
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT
3   1003        Bob       Cat     001        IT

In [185]:
#EX-127:Remove the duplicates from employee dataframe and assign them to employee_unique variable
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '001', '005']
})

departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})

employees_unique = employees.drop_duplicates()
result = pd.merge(employees_unique, departments, how='inner', on='dept_id')
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT

In [186]:
#EX-128: Using pivot table prepare dataframe. Average value of the tip and total_bill columns broken into days
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
result = pd.pivot_table(tips, index='day', values=['tip', 'total_bill'], aggfunc=np.mean)
print(result)

           tip  total_bill
day
Fri   2.734737   17.151579
Sat   2.993103   20.441379
Sun   3.255132   21.410000
Thur  2.771452   17.682742

In [187]:
#EX-129:Using pivot table prepare dataframe. Average value of the tip and total_bill columns broken into days, gender
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
result = pd.pivot_table(tips, index=['day', 'sex'], values=['tip', 'total_bill'], aggfunc=np.mean)
print(result)

                  tip  total_bill
day  sex
Fri  Female  2.781111   14.145556
     Male    2.693000   19.857000
Sat  Female  2.801786   19.680357
     Male    3.083898   20.802542
Sun  Female  3.367222   19.872222
     Male    3.220345   21.887241
Thur Female  2.575625   16.715312
     Male    2.980333   18.714667

In [188]:
#EX-130:Using pivot table prepare dataframe. Maximum value of the tip and total_bill columns broken into days, gender

pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
result = pd.pivot_table(tips, index='day', values=['tip', 'total_bill'], aggfunc=np.max)
print(result)

        tip  total_bill
day
Fri    4.73       40.17
Sat   10.00       50.81
Sun    6.50       48.17
Thur   6.70       43.11

In [189]:
#EX-131:Using pivot table prepare dataframe. Average value of the tip and total_bill columns broken into days, gender, smoker/non-smoker
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
 
result = pd.pivot_table(tips, index=['day', 'sex', 'smoker'], values=['tip', 'total_bill'], aggfunc=np.mean)
print(result)

                         tip  total_bill
day  sex    smoker
Fri  Female No      3.125000   19.365000
            Yes     2.682857   12.654286
     Male   No      2.500000   17.475000
            Yes     2.741250   20.452500
Sat  Female No      2.724615   19.003846
            Yes     2.868667   20.266667
     Male   No      3.256563   19.929063
            Yes     2.879259   21.837778
Sun  Female No      3.329286   20.824286
            Yes     3.500000   16.540000
     Male   No      3.115349   20.403256
            Yes     3.521333   26.141333
Thur Female No      2.459600   16.014400
            Yes     2.990000   19.218571
     Male   No      2.941500   18.486500
            Yes     3.058000   19.171000

In [190]:
#EX-132: Extract value for sunday
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
 
result = pd.pivot_table(tips, index=['day', 'sex', 'smoker'], values=['tip', 'total_bill'], aggfunc=np.mean)
print(result.loc['Sun'])

                    tip  total_bill
sex    smoker
Female No      3.329286   20.824286
       Yes     3.500000   16.540000
Male   No      3.115349   20.403256
       Yes     3.521333   26.141333

In [191]:
#EX-133:Extract value for sunday and men from this dataframe
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
result = pd.pivot_table(tips, index=['day', 'sex', 'smoker'], values=['tip', 'total_bill'], aggfunc=np.mean)
print(result.loc['Sun'].loc['Male'])

             tip  total_bill
smoker
No      3.115349   20.403256
Yes     3.521333   26.141333